# Import Library

In [102]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
url='https://www.cars.com/shopping/results/?stock_type=cpo&makes%5B%5D=&models%5B%5D=&list_price_max=&maximum_distance=all&'

In [3]:
response=requests.get(url)

In [4]:
response.status_code

200

In [5]:
soup=BeautifulSoup(response.content,'html.parser')

In [29]:
result=soup.find_all('div',class_='vehicle-details')

In [30]:
len(result)

21

In [41]:
results.find('p',class_='stock-type').get_text()

'Volkswagen Certified'

# Data Collection

In [77]:
certified=[]
car_name=[]
mileage=[]
price=[]
monthly_payment=[]
dealer_name=[]
rating=[]
reviews=[]

for i in range(1,300):
    url='https://www.cars.com/shopping/results/?list_price_max=&makes[]=&maximum_distance=all&models[]=&page='+str(i)
    response=requests.get(url)
    soup=BeautifulSoup(response.content,'html.parser')
    result=soup.find_all('div',class_='vehicle-details')
    for results in result:
        try:
            certified.append(results.find('p',class_='stock-type').get_text())
        except:
            certified.append('N/A')

        try:
            car_name.append(results.find('h2',class_='title').get_text())
        except:
            car_name.append('N/A')

        try:
            mileage.append(results.find('div',class_='mileage').get_text())
        except:
            mileage.append('N/A')

        try:
            price.append(results.find('span',class_='primary-price').get_text())
        except:
            price.append('N/A')

        try:
            monthly_payment.append(results.find('span',class_='js-estimated-monthly-payment-formatted-value-with-abr').get_text())
        except:
            monthly_payment.append('N/A')

        try:
            dealer_name.append(results.find('div',class_='dealer-name').get_text().replace('\n',''))
        except:
            dealer_name.append('N/A')

        try:
            rating.append(results.find('span',class_='sds-rating__count').get_text())
        except:
            rating.append('N/A')

        try:
            reviews.append(results.find('span',class_='sds-rating__link').get_text())
        except:
            reviews.append('N/A')

# Create DataFrame

In [78]:
car_data=pd.DataFrame({'Certified':certified,'Car_name':car_name,'Mileage':mileage,'Price':price,'Monthly_payment':monthly_payment,'Dealer_name':dealer_name,'Rating':rating,'Reviews':reviews})

In [79]:
car_data

,Certified,Car_name,Mileage,Price,Monthly_payment,Dealer_name,Rating,Reviews
0,New,2022 Maserati Levante Modena,N/A,"$126,406",,Bentley Bugatti Lamborghini Maserati Rolls-Roy...,N/A,(57 reviews)
1,New,2023 BMW iX xDrive50,N/A,"$98,945",,Perillo BMW,4.7,(625 reviews)
2,New,2023 BMW 228 Gran Coupe i xDrive,N/A,"$44,095",,Perillo BMW,4.7,(625 reviews)
3,New,2023 BMW 228 Gran Coupe i xDrive,N/A,"$44,545",,Perillo BMW,4.7,(625 reviews)
4,BMW Certified,2021 BMW X5 PHEV xDrive45e,"29,204 mi.","$61,888",,Perillo BMW,4.7,(625 reviews)
...,...,...,...,...,...,...,...,...
6271,Used,2023 Lucid Air Touring,200 mi.,"$104,961",,Manheim Imports,3.9,(193 reviews)
6272,Used,2020 BMW X5 M Base,"35,881 mi.","$77,777",,Manheim Imports,3.9,(193 reviews)
6273,Used,2022 Tesla Model 3 Long Range,"7,271 mi.","$42,667",,Manheim Imports,3.9,(193 reviews)
6274,Used,2021 Land Rover Range Rover Sport 5.0L Superch...,"10,691 mi.","$109,988",,Manheim Imports,3.9,(193 reviews)
6275,Used,2021 Tesla Model Y Long Range,"31,547 mi.","$43,539",,Manheim Imports,3.9,(193 reviews)

# Understanding Data

In [200]:
#copy Data
df=car_data.copy()

In [201]:
# to see first five rows
df.head(5)

,Certified,Car_name,Mileage,Price,Monthly_payment,Dealer_name,Rating,Reviews
0,New,2022 Maserati Levante Modena,N/A,"$126,406",,Bentley Bugatti Lamborghini Maserati Rolls-Roy...,N/A,(57 reviews)
1,New,2023 BMW iX xDrive50,N/A,"$98,945",,Perillo BMW,4.7,(625 reviews)
2,New,2023 BMW 228 Gran Coupe i xDrive,N/A,"$44,095",,Perillo BMW,4.7,(625 reviews)
3,New,2023 BMW 228 Gran Coupe i xDrive,N/A,"$44,545",,Perillo BMW,4.7,(625 reviews)
4,BMW Certified,2021 BMW X5 PHEV xDrive45e,"29,204 mi.","$61,888",,Perillo BMW,4.7,(625 reviews)

In [202]:
# to see last five rows
df.tail(5)

,Certified,Car_name,Mileage,Price,Monthly_payment,Dealer_name,Rating,Reviews
6271,Used,2023 Lucid Air Touring,200 mi.,"$104,961",,Manheim Imports,3.9,(193 reviews)
6272,Used,2020 BMW X5 M Base,"35,881 mi.","$77,777",,Manheim Imports,3.9,(193 reviews)
6273,Used,2022 Tesla Model 3 Long Range,"7,271 mi.","$42,667",,Manheim Imports,3.9,(193 reviews)
6274,Used,2021 Land Rover Range Rover Sport 5.0L Superch...,"10,691 mi.","$109,988",,Manheim Imports,3.9,(193 reviews)
6275,Used,2021 Tesla Model Y Long Range,"31,547 mi.","$43,539",,Manheim Imports,3.9,(193 reviews)

In [203]:
# to see sample five rows
df.sample(5)

,Certified,Car_name,Mileage,Price,Monthly_payment,Dealer_name,Rating,Reviews
1854,New,2024 Chevrolet Silverado 2500 LT,N/A,"$62,375",,Jim Schmidt Chevrolet of Delphos,N/A,(3 reviews)
3952,New,2023 Ford Mustang GT Premium,N/A,"$47,061",,Reiselman Ford,N/A,(1 review)
1614,Used,2020 Kia Telluride LX,"24,542 mi.","$33,900",,Tom Wood Subaru,4.9,"(1,328 reviews)"
2336,New,2023 Chevrolet Tahoe LT,N/A,"$69,855",,Dave Kehl Chevrolet,4.4,(115 reviews)
320,Used,2017 Chevrolet Silverado 1500 LT,"78,412 mi.","$28,827",,Castle Chevrolet North,4.8,(745 reviews)

In [204]:
# to see data shape
df.shape

(6276, 8)

In [205]:
# to see columns name
df.columns

Index(['Certified', 'Car_name', 'Mileage', 'Price', 'Monthly_payment',
       'Dealer_name', 'Rating', 'Reviews'],
      dtype='object')

In [206]:
# to see data types
df.dtypes

Certified          object
Car_name           object
Mileage            object
Price              object
Monthly_payment    object
Dealer_name        object
Rating             object
Reviews            object
dtype: object

In [207]:
# to see basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6276 entries, 0 to 6275
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Certified        6276 non-null   object
 1   Car_name         6276 non-null   object
 2   Mileage          6276 non-null   object
 3   Price            6276 non-null   object
 4   Monthly_payment  6276 non-null   object
 5   Dealer_name      6276 non-null   object
 6   Rating           6276 non-null   object
 7   Reviews          6276 non-null   object
dtypes: object(8)
memory usage: 392.4+ KB

# Data Cleanning

In [208]:
# to see duplicated data
df.duplicated().sum()

129

In [209]:
# drop duplicated data
df.drop_duplicates(inplace=True)

In [210]:
# again see duplicated data after delete duplicated data
df.duplicated().sum()

0

In [211]:
# clean Reviews columns
df['Reviews'].unique()

array(['(57 reviews)', '(625 reviews)', '(2,170 reviews)', ...,
       '(3,496 reviews)', '(269 reviews)', '(648 reviews)'], dtype=object)

In [212]:
df['Reviews']=df['Reviews'].str.replace('reviews','')

In [213]:
df['Reviews']=df['Reviews'].str.replace('review','')

In [214]:
df['Reviews']=df['Reviews'].str.replace('(','')

In [215]:
df['Reviews']=df['Reviews'].str.replace(')','')

In [216]:
df['Reviews']=df['Reviews'].str.replace(',','')

In [218]:
df=df[df['Reviews']!='N/A']

In [220]:
df['Reviews']=df['Reviews'].astype('int')

In [222]:
df['Rating'].unique()

array(['N/A', '4.7', '4.5', '3.9', '3.0', '4.4', '4.8', '4.0', '4.9',
       '4.2', '3.5', '2.2', '2.0', '4.6', '3.6', '3.7', '5.0', '3.3',
       '2.9', '4.3', '4.1', '3.8', '3.2', '3.1', '2.5', '2.6', '3.4',
       '1.8', '1.7', '1.3', '2.3', '2.8', '2.7', '2.4', '2.1', '1.4',
       '1.5', '1.6', '1.9'], dtype=object)

In [224]:
df=df[df['Rating']!='N/A']

In [229]:
df['Rating']=df['Rating'].astype('float')

In [230]:
df['Price'].unique()

array(['$98,945', '$44,095', '$44,545', ..., '$42,667', '$109,988',
       '$43,539'], dtype=object)

In [231]:
df['Price']=df['Price'].str.replace('$','')

In [232]:
df['Price']=df['Price'].str.replace(',','')

In [234]:
df=df[df['Price']!='Not Priced']

In [235]:
df['Price']=df['Price'].astype('int')

In [252]:
df.head(5)

,Certified,Mileage(ml),Price,Dealer_name,Rating,Reviews,Car_Year,Car_Brand,Car_Model
1,New,N/A,98945,Perillo BMW,4.7,625,2023,BMW,iX
2,New,N/A,44095,Perillo BMW,4.7,625,2023,BMW,228
3,New,N/A,44545,Perillo BMW,4.7,625,2023,BMW,228
4,BMW Certified,29204 .,61888,Perillo BMW,4.7,625,2021,BMW,X5
5,Used,99667 .,10991,Volkswagen of Downtown Chicago,4.5,2170,2013,Volkswagen,Passat

In [237]:
df[['Year', 'Make', 'Model', 'Trim']] = df['Car_name'].str.split(' ', 3, expand=True)

In [239]:
df.drop(columns=['Car_name'],axis=1,inplace=True)

In [241]:
df.drop(columns=['Trim','Monthly_payment'],axis=1,inplace=True)

In [243]:
df.rename(columns={'Make':'Car_Brand','Model':'Car_Model','Year':'Car_Year'},inplace=True)

In [246]:
df['Mileage']=df['Mileage'].str.replace('mi','')

In [248]:
df['Mileage']=df['Mileage'].str.replace(',','')

In [251]:
df.rename(columns={'Mileage':'Mileage(ml)'},inplace=True)

In [253]:
# check null value]
df.isnull().sum()

Certified      0
Mileage(ml)    0
Price          0
Dealer_name    0
Rating         0
Reviews        0
Car_Year       0
Car_Brand      0
Car_Model      0
dtype: int64

In [256]:
# check data types
df.dtypes

Certified       object
Mileage(ml)     object
Price            int32
Dealer_name     object
Rating         float64
Reviews          int32
Car_Year        object
Car_Brand       object
Car_Model       object
dtype: object

# Data Export in MySQL Data Base

In [257]:
import mysql.connector
import pymysql

In [258]:
cnx = mysql.connector.connect(user='root', password='root', host='localhost', database='ecom')

In [259]:
from sqlalchemy import create_engine
engine=create_engine('mysql+pymysql://root:root@localhost/ecom')
df.to_sql('car_data', engine, if_exists='replace', index=False)